
<div class="account-container">
  <h1> Konto </h1>
  <form [formGroup]="accountForm" aria-label="aq-account-form">
    <div class="input-container">
      <app-icon [path]="accountIcon"></app-icon>
      <input class="form-control" type="text" formControlName="username" aria-label="aq-username-input" />
    </div>
    <div class="input-container">
      <app-icon [path]="emailIcon"></app-icon>
      <input class="form-control" type="text" formControlName="email" aria-label="aq-email-input" />
    </div>
    <div class="input-container">
      <app-icon [path]="lockIcon"></app-icon>
      <input class="form-control" type="password" formControlName="password" aria-label="aq-password-input" />
    </div>

    <button id="changeData-button" type="button" class="btn btn-primary" (click)="changeData()" aria-label="">Ändern</button>
    <button id="saveData-button" type="button" class="btn btn-primary" (click)="saveData()" aria-label=" ">Speichern</button>

