<div class="account-container">
  <h1> Change Password </h1>
  <button type="button" class="btn btn-outline-dark back-button" (click)="navigateBack()">Back</button>
  <form [formGroup]="passwordForm" class="aq-change-pw-form" aria-label="aq-change-pw-form">
    <app-password-input>
      <ng-template #password let-type>
        <input class="form-control" [type]="type"
               id="password-input"
               placeholder="Password"
               formControlName="password" aria-label="aq-password-input" />
      </ng-template>
    </app-password-input>
    <app-password-input>
      <ng-template #password let-type>
        <input class="form-control" [type]="type"
               id="password-repeat-input"
               placeholder="Repeat password"
               formControlName="passwordRepeat" aria-label="aq-password-repeat-input" />
      </ng-template>
    </app-password-input>
    @if(passwordForm.get('passwordRepeat')?.errors && passwordForm.get('passwordRepeat')?.getError('notSamePassword')) {
      <p class="text-danger" id="password-error">Passwords do not match!</p>
    }
      <button id="savePassword-button" type="button" class="btn btn-primary" (click)="saveData()"
              [disabled]="!passwordForm.valid"
              aria-label="account-save-button">Save</button>
  </form>
</div>
