:host {
  display: block;
}

.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > app-notification-tile:last-child {
    margin-bottom: 60px;
  }
}

.trash-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#notification-trash-button {
  width: 80%;
  max-width: 500px;
  height: 40px;
}

