<footer>
  <ul>
    <li><a id="home" routerLink="dashboard" aria-label="footer-dashboard-link"><app-icon [path]="iconDashboard" color="white" width="2rem" ></app-icon></a></li>
    <li><a id="notifications" routerLink="notifications" aria-label="footer-notifications-link"><app-icon [path]="iconNotification" color="white" width="2rem"></app-icon></a></li>
    <li><a id="account" routerLink="account" aria-label="footer-account-link"><app-icon [path]="iconAccount" color="white" width="2rem"></app-icon></a></li>
    <li><a id="settings" routerLink="settings" aria-label="footer-settings-link"><app-icon [path]="iconSettings" color="white" width="2rem" aria-label="footer-settings-link"></app-icon></a></li>
  </ul>
</footer>
