<footer>
  <ul>
    <li id="home"><a routerLink="dashboard"><app-icon [path]="iconDashboard" color="white" width="2rem"></app-icon></a></li>
    <li id="notifications"><a routerLink="notifications"><app-icon [path]="iconNotification" color="white" width="2rem"></app-icon></a></li>
    <li id="account"><a routerLink="account"><app-icon [path]="iconAccount" color="white" width="2rem"></app-icon></a></li>
    <li id="settings"><a routerLink="settings"><app-icon [path]="iconSettings" color="white" width="2rem"></app-icon></a></li>
  </ul>
</footer>
