
.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container app-icon.lock-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.input-container app-icon.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.input-container input {
  margin-top: 20px;
  width: 100%;
  padding: 10px 10px 10px 35px;
  box-sizing: border-box;
}

input::placeholder {
  color: #aaa;
}
