<div class="d-flex justify-content-center align-items-center flex-column h-100">
  <div class="general-settings-button-container">
    <app-icon-button [icon]="mdiCogTransferOutline"
                     classes="btn btn-outline-dark"
                     width="28px"
                     [iconActiveColor]="'black'"
                     class="m-2 general-settings-button"
                     (iconButtonClick)="openGeneralSettings()"></app-icon-button>
  </div>
  <div class="login-form">
    <form [formGroup]="loginForm" aria-label="aq-login-form">
      <div class="input-container">
        <app-icon [path]="accountIcon"></app-icon>
        <input class="form-control" type="text" formControlName="username"
               placeholder="Username"
               id="aq-username-input"
               aria-label="aq-username-input" />
      </div>
      <app-password-input>
        <ng-template #password let-type>
          <input class="form-control" [type]="type" formControlName="password"
                 placeholder="Password"
                 id="aq-password-input"
                 aria-label="aq-password-input" />
        </ng-template>
      </app-password-input>
      <div>
      </div>
    </form>
    <button type="button" class="btn btn-primary" (click)="login()"
            id="aq-login-button"
            [disabled]="!loginForm.valid" aria-label="aq-login-button">Login</button>
  </div>
</div>

