:host {
  display: block;
}

button#back-button {
  width: 80%;
  max-width: 500px;
}

div#app-settings-container {
  height: 100%;
}

.settings-form, .description {
  width: 80%;
  max-width: 500px;
}

.restore-button {
  margin-bottom: 30px;
}

@media screen and (max-height: 650px) {
  .restore-button {
    margin-bottom: 80px;
  }
}


