:host {
  display: block;
}

button#back-button {
  width: 80%;
}

div#app-settings-container {
  height: 100%;
}

.settings-form, .description {
  width: 80%;
}

.restore-button {
  margin-bottom: 80px;
}
