:host {
  display: block;
}

h1 {
  text-align:center;
  margin-bottom:20px;
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}

.aq-account-form {
  width: 80%;
  max-width: 500px;

  & > button {
    width: 100%;
    margin-top: 50px;
    max-width: 500px;
  }
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container app-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.input-container input {
  margin-top: 20px;
  width: 100%;
  padding: 10px 10px 10px 35px;
  box-sizing: border-box;
}

button#changePW-button, button#cancel-button, button#logout-button {
  margin-top: 10px;
  width: 80%;
  max-width: 500px;
}

button#logout-button {
  margin-top: 200px;
}
