<div class="d-flex flex-column align-items-center list-container" aria-label="aq-register-sensor-container">
  <button type="button" id="back-button" class="btn btn-outline-dark back-button" (click)="navigateBack()">Back</button>
  @for (sensorBase of sensorBases(); track sensorBase.id) {
    <div class="d-flex flex-column sensor-base-tile" aria-label="aq-sensor-base-tile" id="sensor-base-tile">
      <div class="d-flex sensor-base-tile--header">
        <h3 aria-label="aq-register-sensor-base-title">Sensor Base {{ sensorBase.name }}</h3>
        @if (activeRequest()?.active) {
          <span class="badge bg-warning text-dark pending-badge" aria-label="register-sensor-pending-badge">Pending</span>
        }
      </div>
      <div class="d-flex flex-column sensor-base-tile--body">
        @for (sensorType of sensorBase.sensorTypes; track sensorType.id; let i=$index) {
          <div class="d-flex flex-column sensor-base-tile--sensor-type">
            <span class="sensor-base-tile--sensor-index">Sensor-{{i}}</span>
            <div class="d-flex p-2">
              <span class="badge bg-success ms-1">{{ sensorType.name }}</span>
              <span class="badge bg-dark text-light ms-1">{{ sensorType.type }}</span>
            </div>
            <div class="d-flex p-2">
              <span class="badge bg-info ms-1">min: {{ sensorType.minValue }} {{ sensorType.type | unit }}</span>
              <span class="badge bg-danger ms-1">max: {{ sensorType.maxValue }} {{ sensorType.type | unit }}</span>
            </div>
          </div>
        }
        @if (activeRequest()?.active) {
          <button type="button" id="cancel-request-base-button" class="btn btn-warning mt-2" (click)="cancelRequest(sensorBase)"  aria-label="register-sensor-tile-cancel-button">Cancel request</button>
        } @else {
          <button type="button" id="register-base-button" class="btn btn-success mt-2" (click)="openModal(sensorBase)"  aria-label="register-sensor-tile-register-button">Register</button>
        }
      </div>
    </div>
  }

</div>


