<div class="sensor-base-tile" aria-label="aq-sensor-base-tile">
  <div class="header">
    @if (activeRequest()?.active) {
      <span class="badge bg-warning text-dark pending-badge" aria-label="register-sensor-pending-badge">Pending</span>
    }
    <h2 class="font-monospace fw-bolder" aria-label="aq-register-sensor-base-title">{{ sensorBase().name }}</h2>
  </div>
  <div class="content-wrapper">
    @for (sensor of sensorTypes(); track sensor.name) {
      <div class="content">
        <div class="sensor-info">
          <h2 class="font-monospace fw-bolder">{{ sensor.name }}</h2>
          <p class="sensor-types">
            @for (type of sensor.types; track type) {
              <span >{{ type }}</span>
            }
          </p>
        </div>
        @if (sensor.sensorRanges.length > 0) {
          <h2 class="font-monospace fs-6 fw-bolder">Sensor ranges</h2>
        }
        @for (range of sensor.sensorRanges; track range.alarmType) {
          <div class="alarms">
            <span class="badge bg-info">min {{ range.minAlarm }}{{ range.alarmType | unit }}</span>
            <span class="badge bg-danger">max {{ range.maxAlarm }}{{ range.alarmType | unit }}</span>
          </div>
        }
      </div>
    }
  </div>
  <div class="footer">
    @if (activeRequest()?.active) {
      <button type="button" id="cancel-request-base-button" class="btn btn-outline-danger mt-1" (click)="cancel(sensorBase())"  aria-label="register-sensor-tile-cancel-button">Cancel request</button>
    } @else {
      <button type="button" id="register-base-button" class="btn btn-success mt-1" (click)="request(sensorBase())"  aria-label="register-sensor-tile-register-button">Register</button>
    }
  </div>
</div>
