:host {
  display: block;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.close-button {
  position: absolute;
  bottom: 10px;
}

app-icon {
  margin-top: -2px;
}


