:host {
  display: block;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 75vh;
}

.offcanvas-footer {
  position: relative;
  padding: 10px;
}

.close-button {
  background-color: #022E46;
  color: white;
  position: fixed;
  bottom: 10px;

}

app-icon {
  margin-top: -2px;
}


